fastapi==0.63.0
pydantic==1.7.3
pandas==1.1.5  # downgraded, latest version supporting python 3.6
pendulum==2.1.2
pytest==6.2.2
pytest-asyncio==0.15.1
pytest-mock==3.5.1
tensorflow==1.15.5
flask==0.12.4  # downgraded, to match README instructions
Flask-RESTful  # floating, let flask dep decide
Flask-Cors     # floating, let flask dep decide
jsonpickle==2.0.0
uvicorn==0.15.0
